body{
  background-color: #45475A;
  margin: 0;
  font-family: Inter, sans-serif;
  

}

.App {
    background-color: #21222A;
    width: 60%; /*fjern denne på sikt*/
    margin-left: 20%;
    position: absolute;
    border: 0px 1px 1px 1px solid #585B70;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 10px 10px;

}

.App-header {
  font-family: Inter, sans-serif;
  background-color: #B4BEFE;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  color: #313244;
  border-bottom: 1px solid #555555;
  margin-bottom: 2%;
}

.App-header > h1{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 29px;
  /* identical to box height */
  letter-spacing: 0.27em;
  margin-left: 1%;
  color: #313244;

}

.main-content{
  display: flex;
  justify-content: center;
}
.graph-container{
  display: flex;
  justify-content: center;


}

.linechart{
  background: #585B70;
  border: 1px solid #AEAEAE;
  border-radius: 10px;
  color: #CDD6F4;
  margin: 50px;
}

.dash-itembox{


}
.dash-itembox_status > h1{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.13em;
  color: #CDD6F4;
  margin-left: 3%;
  padding-right: 10px;
}

.dash-itembox_status {
    box-sizing: border-box;
  max-width: 400px;
  background: #585B70;
  border: 1px solid #AEAEAE;
  border-radius: 10px;
  margin-left: 2%;
  padding: 10px;


}

.status_list_container {
  display: flex;
  justify-content: space-around;
}

.status_list {
  list-style: none;
  margin-left: 5%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 25px;

  letter-spacing: -0.035em;
  color: #FFFFFF;
  padding-left: 0px;
}



.status_list_status {
    list-style: none;
    line-height: px;
    letter-spacing: -0.035em;
    color: #FFFFFF;
    padding-right: 10px;
}

.status_ok {

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.13em;
  color: #A6E3A1;
}

.status_notok {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.13em;

  color: #ED8796;
}

.heaton {

  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.13em;
  color: #A6E3A1;
}

.heatoff {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.13em;

  color: #ED8796;
}

.info_header{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.13em;
  color: #CDD6F4;
}
p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.035em;

  color: #FFFFFF;


}

.temp_current{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.13em;

  color: #FFFFFF;
}

.temp_list {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.13em;

  color: #FFFFFF;
}
.grid_container{
  display: grid;
  column-gap: 50px;
  grid-template-columns: auto auto;
}